.content-header {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 3rem;
  backdrop-filter: blur(10px);
}

.navbar-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.links {
  font-size: 18px;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.links:hover {
  color: var(--color-primary);
}

.links.active {
  color: var(--color-primary);
  font-weight: 600;
}

.navbar-logo-link {
  display: flex;
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-logo-linkSpan {
  color: var(--color-primary);
}

.navbar-logo-link:hover {
  /*animation*/
}