.card {
  background: var(--color-card);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 95%;
  transition-duration: 1s;
}

.content-skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.content-img-projects {
  margin: 1rem;
}

.content-text,
.content-skills {
  padding: 0 1.2rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.description,
.skills {
  color: #ebdfff;
}

.title-project {
  text-decoration: none;
  color: white;
  font-size: 12px;
  display: inline-block;
  background: var(--color-gradient);
  border-radius: 1000px;
  padding: 0.5rem 1.2rem;
}

.title {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}

.title:hover {
  background-image: var(--color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.title::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--color-gradient);
  transition: width 0.4s ease;
}

.title:hover::after {
  width: 100%;
}

.skills {
  font-size: 12px;
}

.description {
  color: #ebdfff;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.card:hover {
  scale: 1.1;
}