.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
}

.rights {
  color: gray;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.links-redes,
.contact-btn {
  text-decoration: none;
  color: white;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
}

.links-redes::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--color-gradient);
  transition: width 0.4s ease;
}

.links-redes:hover::after {
  width: 100%;
}

.links-redes:hover {
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .content {
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  .links {
    flex-direction: column;
  }
}