---
import GitHubIcon from "../icons/GitHubIcon.astro";
import "./footer.css";
const date = new Date();
const year = date.getFullYear();
---

<footer class="footer">
  <div class="content">
    <p class="rights">© {year} hamc-dev. Casi todos los derechos reservados</p>
    <div class="links">
      <a class="links-redes" href="https://github.com/Hugo-DevM" target="_blank"
        >GitHub</a
      >
      <a
        class="links-redes"
        href="https://linkedin.com/in/hamcdev"
        target="_blank">LinkedIn</a
      >
      <a class="contact-btn" href="mailto:mobile.developer.mx@gmail.com"
        >Contáctame</a
      >
    </div>
  </div>
</footer>
