---
import "./footer.css";
const date = new Date();
const year = date.getFullYear();
---

<footer class="footer">
  <div class="content">
    <p class="rights">© {year} hamc-dev. Casi todos los derechos reservados</p>
    <div class="links">
      <a class="links-redes" href="https://github.com/Hugo-DevM" target="_blank"
        >GitHub</a
      >
      <a
        class="links-redes"
        href="https://www.instagram.com/hugo.devmx?igsh=MW9qcjk2azI2M3ZxOQ%3D%3D&utm_source=qr"
        target="_blank">Instragram</a
      >
      <a
        class="links-redes"
        href="https://www.tiktok.com/@hamcdev?_r=1&_t=ZS-93KV4QLQ6TZ"
        target="_blank">Tiktok</a
      >
      <a
        class="links-redes"
        href="https://linkedin.com/in/hamcdev"
        target="_blank">LinkedIn</a
      >
      <a class="contact-btn" href="mailto:mobile.developer.mx@gmail.com"
        >Contáctame</a
      >
    </div>
  </div>
</footer>
