---
import "./navbar.css";
---

<header class="content-header">
  <nav class="navbar">
    <a href="/">Inicio</a>
    <a href="#projects">Proyectos</a>
    <a href="#about-me">Sobre mí</a>
  </nav>
</header>
