.content-header {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  gap: 2rem;
  padding: 0.5rem 2rem;
  border: 1px solid #3f3f3f;
  border-radius: 1000px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10px);
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  color: var(--color-primary);
}
