.content-header {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.navbar {
  display: flex;
  gap: 2rem;
  padding: 0.75rem 2rem;
  border: 1px solid #3f3f3f;
  border-radius: 1000px;
  background: rgba(255, 255, 255, 0.04);
}

.navbar a {
  text-decoration: none;
  color: white;
}
