---
import "./styles/about.css";
---

<div class="about" id="about-me">
  <h2 class="title">Sobre mí</h2>
  <div class="content-about">
    <div class="about-me">
      <p class="about-description">
        Me llamo <span class="resalt-text">Hugo Montaño</span>, pero muchos me
        llaman <span class="resalt-text">Lechuguita</span>. Comencé en la <span
          class="resalt-text">programación</span
        > en la universidad, aprendiendo de todos mis compañeros que me llevaban años
        de ventaja.
      </p>
      <p class="about-description">
        Actualmente, sigo formándome y me di a la tarea de crear pequeños
        <span class="resalt-text">SaaS</span> que ayuden a mejorar los negocios de
        mi localidad. Mi primera aportación es <span class="resalt-text"
          >Fideliza+</span
        >, el cual sigo desarrollando con un equipo pequeño pero tenaz.
      </p>
      <p class="about-description">
        Como desarrollador, busco que todos puedan <span class="resalt-text"
          >aprender a programar</span
        > sin tener que gastar cientos de pesos, porque no todos tenemos los recursos,
        pero sí el <span class="resalt-text">hambre de salir adelante</span>,
        como lo he hecho yo.
      </p>
      <div class="content-btns">
        <a href="/CV-HugoMontaño.pdf" download class="cv-btn">CV</a>
      </div>
    </div>
    <div class="content-about-me">
      <div class="content-img-me">
        <img width="500px" height="500px" src="/yo.webp" alt="yo" />
      </div>
    </div>
  </div>
</div>
