---
import "./styles/hero.css";
---

<div class="hero">
  <div class="content-hero">
    <div class="content-text">
      <p class="available-text">DISPONIBLE 2026</p>
      <h1 class="title-text">
        Hola, soy <span class="name-text">Hugo Montaño</span>
      </h1>
      <h2 class="subtitle-text">
        Desarrollador Full Stack especializado en Next.js y Supabase
      </h2>
      <p class="description-text">
        Desarrollo aplicaciones web, sistemas SaaS, landing pages y sitios
        empresariales utilizando Next.js, React, Astro, TypeScript y Supabase.
        Ayudo a negocios y emprendedores a crear soluciones digitales rápidas,
        escalables y enfocadas en resultados.
      </p>
      <div class="content-btns">
        <a class="contact-btn" href="mailto:mobile.developer.mx@gmail.com"
          >Contáctame</a
        >
        <a class="projects-btn" href="#projects">Ver proyectos</a>
      </div>
    </div>
    <div class="content-me">
      <div class="content-img">
        <img width="300" height="200" src="/me.webp" alt="me" />
      </div>
    </div>
  </div>
</div>
