---
import "./styles/hero.css";
---

<div class="hero">
  <div class="content-hero">
    <div class="content-text">
      <p class="available-text">DISPONIBLE 2026</p>
      <h1 class="title-text">
        Hola, soy <span class="name-text">Hugo Montaño</span> desarrollador web
      </h1>
      <p>
        Desarrollo web para todo tipo de paginas, como landing page, sistemas
        webs y paginas web
      </p>
      <div class="content-btns">
        <a class="contact-btn" onclick="">Contactar</a>
        <a href="/CV-HugoMontaño.pdf" download class="cv-btn">CV</a>
      </div>
    </div>
    <div class="content-me">
      <div class="content-img">
        <img width="300" height="200" src="/me.webp" alt="me" />
      </div>
    </div>
  </div>
</div>
