---
import './styles/hero.css'
---

<div class="content-hero">
    <div class="content-text">
        <p class="available-text">DISPONIBLE 2026</p>
        <h1 class="title-text">Hola, soy <span class="name-text">Hugo Montaño</span> desarrollador web</h1>
        <p>Desarrollo web para todo tipo de paginas, como landing page, sistemas webs y paginas web</p>
        <div class="content-btns">
            <button class="contact-btn" onclick="">Contactar</button>
        <button class="cv-btn" onclick="">CV</button>
        </div>
    </div>
   <div class="content-me">
  <img width="300" height="200" src="/me.png" alt="me" />
</div>

</div>