---
import "./styles/heroblog.css";
---

<section class="blog">
  <div class="content-blog">
    <span class="available-text">Desarrollador Frontend</span>
    <h1 class="title-blog">
      Blog para <span class="textResalt-blog">Desarrolladores</span> JR's
    </h1>
    <h2 class="subtitle-blog">by Hugo Montaño</h2>
    <p class="description-blog">
      Aumentando el conocimiento para todo aquel que busca mejorar. Creando
      herramientas para el uso del dia dia
    </p>
    <a class="btnProjects-blog" href="https://www.hamc.dev/#projects"
      >Ver Proyectos</a
    >
  </div>
</section>
