.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 2rem;
}

.content-hero {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  background: var(--color-card);
  max-width: 1200px;
  padding: 0 2rem;
  border-radius: 1rem;
  gap: 2rem;
}

.content-text {
  color: white;
  max-width: 600px;
  margin-top: 0.6rem;
  width: 100%;
}

.content-img {
  margin: 2rem 0;
  object-fit: cover;
  height: auto;
  border-radius: 1rem;
}

.content-me {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 1s;
}

.content-me:hover {
  scale: 1.08;
}

.content-btns {
  display: flex;
  padding: 8px 0;
}

.available-text {
  display: inline-block;
  background: var(--color-gradient);
  border-radius: 1000px;
  padding: 0.5rem 1.2rem;
}

.title-text,
.name-text {
  font-size: 3rem;
}

.name-text {
  background-image: var(--color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.contact-btn {
  background: var(--color-gradient);
  border: 1px solid transparent;
  padding: 0.5rem 2rem;
  border-radius: 1000px;
  color: white;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.contact-btn:hover {
  scale: 1.1;
  background: transparent;
  color: #9f20ef;
  border: 1px solid white;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 0.85rem;
}

@media (max-width: 768px) {
  .content-btns {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-hero {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    padding: 1.5rem;
    margin: 1rem;
  }

  .content-me {
    order: -1;
  }

  .title-text,
  .name-text {
    font-size: 2.2rem;
  }
}