.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4rem auto;
  max-width: 1200px;
  padding-inline: 2rem;
}

.title {
  color: white;
  margin-bottom: 3rem;
}

.content-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
}

@media (max-width: 768px) {
  .content-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
}
