.skills-tecno {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
  flex-direction: column;
}

.content-tecno {
  max-width: 1200px;
  width: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  place-items: center;
}

@media (max-width: 768px) {
  .content-tecno {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 40vh;
  }
}
