.skills-tecno {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
  flex-direction: column;
}

.content-tecno {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  place-items: center;
}

.title {
  font-size: 32px;
}

.content-tecno svg {
  width: 48px;
  height: 48px;
  max-width: 48px;
  max-height: 48px;
}

@media (max-width: 768px) {
  .content-tecno {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 1rem;
  }
}