<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
    <meta
      name="description"
      content="Desarrollador web especializado en crear landing pages y sistemas web a medida. ¡Impulsa tu negocio con soluciones digitales profesionales!"
    />

    <meta
      name="keywords"
      content="Hugo Montaño, Desarrollador Web, Landing Pages, Sistemas Web, Freelance Web Developer, Pagina Web"
    />
    <title>Hugo Montaño | Desarrollador Web - Landing Pages y Sistemas</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background: #05050a;
  }
</style>
